<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:4000/register" method="post">
        email :<input type="email" name="email" id="">
        <br>
        password :<input type="password" name="password" id="">
        <br>
        user :<input type="text" name="username" id="">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>