.stud-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;

}

.container{
     /* height: 88vh; */
    /*width: 100vw; */
}

.stud-data .content{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    /* transform: scale(1.5); */
    padding: 40px;
    height: fit-content !important;
    width: fit-content;
    border: 2px solid black !important;
    border-radius: 20px;
    backdrop-filter: blur(10px) !important;
    background: rgba(255, 255, 255, .7) !important;
}

.content .btn{
    width: 100px;
    /* margin-left: 30px; */
}

.detail{
    font-size: larger;
    font-weight: bolder;
}

