.log-in
{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
} 

.admin-log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;   
}

.admin-log form{
    border: 2px solid black !important; 
    padding: 50px;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}